@using e_Office.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-indigo col-lg-12">
    <div class="col-lg-8 d-flex no-block justify-content-center align-items-center">

        <div id="jssor_1" class="img-responsive" style="position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
            <div  class="img-responsive"  data-u="slides" style="position:absolute;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
                <div><img data-u="image" src="~/Images/1.jpg" /></div>
                <div><img data-u="image" src="~/Images/2.jpg" /></div>
                <div><img data-u="image" src="~/Images/3.jpg" /></div>
                <div><img data-u="image" src="~/Images/4.jpg" /></div>
            </div>
        </div>
    </div>

    <div class="auth-box border-top border-secondary col-lg-4 d-flex no-block justify-content-center align-items-center">

        <div id="loginform">
            <div class="text-center p-t-20 p-b-20">
                <span class="db" style="font-size:30px;font-weight:800">
                    e-Office
                    @*<img src="~/Content/theme/assets/images/logo.png" alt="logo" />*@
                </span>
            </div>
            <!-- Form -->
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal m-t-20", id = "loginform", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row p-b-30">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user"></i></span>
                            </div>
                            @*<input type="text" class="form-control form-control-lg" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required="">*@
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control form-control-lg", @placeholder = "Username", @required = "required" })
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-warning text-white" id="basic-addon2"><i class="ti-pencil"></i></span>
                            </div>
                            @*<input type="text" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required="">*@
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg", @placeholder = "Password", @required = "required" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row border-top border-secondary">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="p-t-20">
                                @*<a class="btn btn-info" id="to-recover" href="@Url.Action("ForgotPassword")"><i class="fa fa-lock m-r-5"></i>Lost Password?</a>*@
                                <button class="btn btn-info" id="to-recover" type="button"><i class="fa fa-lock m-r-5"></i> Lost password?</button>
                                <button class="btn btn-success float-right" type="submit">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div id="recoverform">
            <div class="text-center">
                <span class="text-white">Enter your e-mail address below and we will send you instructions how to recover a password.</span>
            </div>
            <div class="row m-t-20">
                <!-- Form -->
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "col-12", role = "form" }))
                {

                    <!-- email -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-danger text-white" id="basic-addon1"><i class="ti-email"></i></span>
                        </div>
                        @*<input type="text" class="form-control form-control-lg" placeholder="Email Address" aria-label="Username" aria-describedby="basic-addon1">*@
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg", @placeholder = "Email Address" })
                    </div>
                    <!-- pwd -->
                    <div class="row m-t-20 p-t-20 border-top border-secondary">
                        <div class="col-12">
                            <button class="btn btn-success float-left" type="button" href="#" id="to-login" name="action">Back To Login</button>
                            <button class="btn btn-info float-right" type="submit" name="action">Recover</button>
                        </div>
                    </div>

                }
            </div>
        </div>

    </div>
</div>

<script src="~/Content/theme/dist/js/jssor.slider.min.js"></script>
<script>
    var options = { $AutoPlay: 1 };
    var jssor_1_slider = new $JssorSlider$("jssor_1", options);
</script>
@*<script>jssor_slider1_init('slider1_container');</script>*@