@model IEnumerable<e_Office.Models.StandardHeadMaster>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StdHeadName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StdHeadName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StdHeadId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StdHeadId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StdHeadId })
        </td>
    </tr>
}

</table>
