@model IEnumerable<e_Office.Models.DesignationMaster>

@{
    ViewBag.Title = "Index";
}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <a class="btn btn-cyan float-right" href="@Url.Action("Create")">Create New</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title m-b-0">Designation Master</h5>
                </div>
                @if (Model.Count() > 0)
                {
                    <table class="table table-bordered" style="width:98%;margin:10px;">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DesignationName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DesignationCode)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DesignationName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DesignationCode)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.DesignationId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.DesignationId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.DesignationId })
                                </td>
                            </tr>
                        }

                    </table>
                }
                </div>
            </div>
        </div>
