@model IEnumerable<e_Office.Models.UserActivity>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title m-b-0">User Activity</h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered" style="width:98%;margin:10px;">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ActivityDetail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ActivityTime)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActivityDetail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActivityTime)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>