@model e_Office.Models.AuthorityMaster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AuthorityMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorityCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorityCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuthorityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
