@model IEnumerable<e_Office.Models.AuthorityMaster>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorityCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorityCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AuthorityId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AuthorityId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AuthorityId })
        </td>
    </tr>
}

</table>
