@model e_Office.Models.UpcomingEventsViewModel
@using CalendarData = Google.Apis.Calendar.v3.Data;

@{
    ViewBag.Title = "Upcoming Events";
}
@helper FormatEventTime(CalendarData.EventDateTime when)
{
    // Either Date or DateTime is set, depending on whether or not the event is
    // an all-day event.
    if (when.DateTime == null)
    {
        <text>All day</text>
    }
    else
    {
        @:@when.DateTime.Value.ToShortTimeString()
    }
}
@helper FormatEventLength(CalendarData.EventDateTime start, CalendarData.EventDateTime end)
{
    var duration = end.DateTime - start.DateTime;
    if (duration == null)
    {
        <text>All day</text>
    }
    else
    {
        @:@string.Format(
"{0} hour{1} {2} minute{3}",
(int)duration.Value.TotalHours,
duration.Value.TotalHours >= 2 ? "s" : "",
(int)duration.Value.Minutes,
duration.Value.Minutes >= 2 ? "s" : "")
    }
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title m-b-0 text-center">Event Calendar</h5>
    </div>
    <div class="">
        <div class="row">
            <div class="col-lg-3 border-right p-r-0">
                <div class="card-body border-bottom">
                    <h4 class="card-title m-t-10">Events</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#add-new-event" class="btn m-t-20 btn-info btn-block waves-effect waves-light">
                                <i class="ti-plus"></i> Add New Event
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card-body b-l calender-sidebar">
                    <iframe src="https://calendar.google.com/calendar/b/6/embed?height=700&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FKolkata&amp;src=c3VwcG9ydEBhYXJ1c2hzeXN0ZW1zLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%230B8043&amp;showTz=0&amp;showCalendars=0&amp;showTabs=1&amp;showNav=1&amp;showTitle=0" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                </div>
            
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("AddEvent", "Event", FormMethod.Post, new { @id = "event-form" }))
{
    @Html.AntiForgeryToken()

    <div class="modal fade none-border" id="add-new-event">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><strong>Add</strong> new event</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Event Name</label>
                                @Html.TextBoxFor(x => x.NewEvent.EventName, new { @placeholder = "Enter name", @class = "form-control form-white" })
                                @*<input class="form-control form-white" placeholder="Enter name" type="text" name="category-name" />*@
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Event Description</label>
                                @Html.TextBoxFor(x => x.NewEvent.Description, new { @placeholder = "Enter description", @class = "form-control form-white" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Event Start</label>
                                @Html.TextBoxFor(x => x.NewEvent.EventStart, new { @placeholder = "Enter Event Start Time", @class = "form-control form-white mydatepicker" })
                                @*<input class="form-control form-white" placeholder="Enter name" type="text" name="category-name" />*@
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Event End</label>
                                @Html.TextBoxFor(x => x.NewEvent.EventEnd, new { @placeholder = "Enter Event End Time", @class = "form-control form-white mydatepicker" })
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Event Location</label>
                                @Html.TextBoxFor(x => x.NewEvent.Location, new { @placeholder = "Enter Location", @class = "form-control form-white" })
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Status</label>
                                @Html.TextBoxFor(x => x.NewEvent.Status, new { @placeholder = "Enter Status", @class = "form-control form-white" })
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="col-md-12" style="padding-top:10px">
                                <label class="control-label">Attendees</label>
                                @*@Html.TextBoxFor(x => x.NewEvent.Attendees, new { @placeholder = "Add Attendees", @class = "form-control form-white" })*@
                                <input class="form-control form-white" placeholder="Enter Attendees Email" type="text" name="NewEvent.Attendees" data-role="tagsinput" />
                                <span style="font-size:12px;color:gray">Enter multiple emails by pressing tab</span>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger waves-effect waves-light save-category">Save</button>
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Content/theme/assets/libs/jquery/dist/jquery.min.js"></script>

<script>
    $('#event-form').keydown(function (e) {
      //  alert();
        if (e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
    });
</script>